<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SchoolManagementConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SchoolManagement;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SchoolManagementConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SchoolManagement;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.cvaConnectionString" connectionString="Data Source=192.168.100.8\TBUSQLServer;Initial Catalog=cva;User ID=cva"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.cvaConnectionString1" connectionString="Data Source=.\SQLSERVER2008;Initial Catalog=cva;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CVAConnectionString2" connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog=CVA;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>